  <h1><%= @brand %></h1>

  <div class="tweet-wrapper">
    <% @tweets.each do |tweet| %>
    <% tweet.message %>
    <p class="tweet">
      <span>
        <%= tweet.message %>
      </span>
      <%#t. tweet.created_at.strftime('%A - %B') %>
      <%= time_ago_in_words(tweet.created_at) %>
    </p>
    <span>

    <% end %>
